/* General Container Styling */
.employee-payslips-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form Group Styling */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

select,
.react-datepicker-wrapper {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

td {
    color: #555;
}

/* Button Styling */
button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b10d0d;
    color: #fff;
}

.back {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
}

button.download {
    background-color: #2196F3;
    color: white;
}

button.delete {
    background-color: #f44336;
    color: white;
}

/* No Payslips Message Styling */
h4 {
    text-align: center;
    color: #777;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    button {
        margin-bottom: 10px;
        width: 100%;
    }

    table,
    th,
    td {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .employee-payslips-container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    label {
        font-size: 14px;
    }

    select,
    .react-datepicker-wrapper {
        font-size: 14px;
    }
}